<%- include("header"); -%>

    <main>
      <div class="contactpagina">
        <h3>Contact</h3>
        <br>
        <h4>OPENING HOURS</h4>
        <p> Daily | 10 a.m. to 6 p.m. <br> Wednesdays & Fridays | 10 a.m. to 9 p.m.</p>
        <br>
        <h4>GETTING HERE</h4>
        <p> Albertinaplatz 1, <br> 1010  Vienna, <br> Austria <br> <br>
          By public transport <br>
          U-Bahn (underground): U1, U2, U4 (station: Karlsplatz/Oper), U3 (station: Stephansplatz)
          Tram: 1, 2, D, 62, 71, and the Lokalbahn Wien-Baden (stop: Kärntner Ring/Oper)
          Public bus: 2A (stop: Albertina) <br><br>
          By car <br>
          On-street parking spaces are available in the vicinity of the ALBERTINA Museum; all such spaces require purchase of a temporary parking permit.
          <br>
          It is also possible to use the indoor car parks Kärntnerringgarage, Kärntnerstraße Tiefgarage, Palais-Corso-Garage, Parkgarage Opernringhof, and Garage Robert-Stolz-Platz (all of which charge fees). <br><br>
          Information and registration <br>
          Art Education Department | Monday through Friday | 9 a.m. to 4 p.m.<br>
          +43 1 534 83 540 | besucher@albertina.at <br> <br>
        </p>

      </div>


    </main>

<%- include("footer"); -%>
