<%- include("header"); -%>

  <main>
    <div class="basis">
      <div class="button-group filter-button-group">
        <h3>Current Exhibitions</h3>
        <button class="button is-checked" data-filter=".all">All</button>
        <button class="button" data-filter=".Monet">Monet to picasso</button>
        <button class="button" data-filter=".Rainer">Arnulf Rainer. A Tribute</button>
        <button class="button" data-filter=".AP">American Photography</button>
        <p><input type="text" class="search" placeholder="Search for work.." size="5" ></p>
      </div>

      <div class="art">
        <% for (let i=0; i<posts.length; i++) { %>
          <section>
            <%- include('tentoonstellingPagina', {post: posts[i], index: i}); -%>
          </section>
        <% } // close forloop %>
      </div>


    </div>




  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<%- include("footer"); -%>
