
  <script src="js/isotope.js"></script>
  <script src="js/script.js"></script>

    <footer>

      <p>&copy; Albertina - 2020</p>
      <img src="/afbl/sponsers.jpg" alt="">


    </footer>
  </body>
</html>
