


    <footer>
      <p>&copy; Albertina - 2020</p>
      <p>https://protected-earth-53027.herokuapp.com/</p>
      <img src="/afbl/socmedia.jpg" alt="">

    </footer>

      <script src="js/isotope.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="js/script.js"></script>

  </body>
</html>
