<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/reset_plus.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/nwm1wnn.css">
    <title>Museum app</title>
  </head>
  <body>
    <header>
      <h3><a href="/">albertina</a></h3>
      <a href="#" class="menu"><img src="/afbl/menu.png"></a>
      <nav class="onzichtbaar">
        <a href="#" class="menu2"><img src="/afbl/menu.png"></a>
        <ul>
          <li><a href="/">Home</a></li>
          <li> <a href="/exhibitions">Exhibitions</a> </li>
          <li><a href="/contact">Contact</a></li>

        </ul>
      </nav>

    </header>
