<%- include('header'); -%>

  <main>
    <div class="ontvangst">
      <h3>welcome</h3>
      <h4>MUSEUM CLOSED UNTIL FURTHER NOTICE</h4>
    </div>

    <div class="menp">
      <h2>Monet to Picasso. <br>The Batliner Collection</h2>
    </div>

    <div class="about">
      <p>The Albertina is a museum in the Innere Stadt (First District) of Vienna, Austria. It houses one of the largest and most important print rooms in the world with approximately 65,000 drawings and approximately 1 million old master prints, as well as more modern graphic works, photographs and architectural drawings. Apart from the graphics collection the museum has recently acquired on permanent loan two significant collections of Impressionist and early 20th-century art, some of which will be on permanent display. The museum also houses temporary exhibitions.</p>
    </div>

    <div class="ar">
      <h2>Arnulf Rainer. A Tribute</h2>
      <h5>UNTIL 19 APRIL 2020</h5>
    </div>

    <div class="history">
      <h4>HISTORY</h4>
      <br>
      <p>The Albertina was erected on one of the last remaining sections of the fortifications of Vienna, the Augustinian Bastion. Originally, the Hofbauamt (Court Construction Office), which had been built in the second half of the 17th century, stood in that location. In 1744 it was refurbished by the director of the Hofbauamt, Emanuel Teles Count Silva-Tarouca, to become his palace; it was therefore also known as Palais Taroucca. The building was later taken over by Duke Albert of Saxen-Teschen who used it as his residence. Albert later brought his graphics collection there from Brussels, where he had acted as the governor of the Habsburg Netherlands. He had the building extended by Louis Montoyer. Since then, the palace has immediately bordered the Hofburg. The collection was expanded by Albert's successors. When his grandson Archduke Albrecht, Duke of Teschen lived there until his death in 1895 it was called the Palais Erzherzog Albrecht.
      <br><br>
      The collection was created by Duke Albert with the Genoese count Giacomo Durazzo, the Austrian ambassador in Venice. In 1776 the count presented nearly 1,000 pieces of art to the duke and his wife Maria Christina (Maria Theresa's daughter). Count Durazzo, who was the brother of Marcello Durazzo, the Doge of Genoa – "wanted to create a collection for posterity that served higher purposes than all others: education and the power of morality should distinguish his collection...." In the 1820s Archduke Charles, Duke Albert and Maria Christina's foster son, initiated further modifications to the building by Joseph Kornhäusel, which affected mostly its interior decoration. After Archduke Charles, his son Archduke Albert then Albrecht's nephew Archduke Friedrich, Duke of Teschen lived in the building.
      <br><br>
      In early 1919, ownership of both the building and the collection passed from the Habsburgs to the newly founded Republic of Austria. In 1920 the collection of prints and drawings was united with the collection of the former imperial court library. The name Albertina was established in 1921.
      <br><br>
      In March 1945, the Albertina was heavily damaged by Allied bomb attacks. The building was rebuilt in the years after the war and was completely refurbished and modernized from 1998 to 2003. Modifications of the exterior entrance sequence, including a distinctive roof by Hans Hollein were completed in 2008, when the graphics collection finally reopened. In 2018, the Albertina acquired the Essl Collection of 1,323 contemporary artworks, including pieces by Alex Katz, Cindy Sherman, Georg Baselitz, Hermann Nitsch, and Maria Lassnig.[1]
      <br><br>
      From March 2020 will begin its existence a new Albertina Modern Museum. The collection of Albertina modern encompasses over 60,000 works by 5,000 artists.</p>
    </div>

    <div class="aph">
      <h2>American Photography</h2>
      <h5>FROM 10 JUNE 2020</h5>
    </div>

  </main>



<%- include('footer'); -%>
